@import '_variable.scss';

// Home
.home {
  margin-top: 5%;
  margin-bottom: 5%;
  @include shadow(6, 12);
}
// Header
.head {
  background-color: orangered;
  color: white;
  padding: 5% 0 5% 0;
}

.textOrange {
  color: $orange;
}

// skills
.outSkill {
  .skill {
    background-color: white;
    text-align: center;
    @include w-h(120px, 120px);
    border-radius: 50%;
    border: 10px solid $orange;
    h3 {
      padding-top: 20px;
    }
  }
}

.skillDeleteIcon {
  font-size: 30px;
  color: orangered;
  margin-top: 2px;
  cursor: pointer;
}

h2 {
  color: $orange;
}

.content {
  width: 595px;
}
